[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
requests = "*"
tabulate = "*"
pyqt5 = "*"
flask = "*"
pycryptodome = "*"
pandas = "*"
matplotlib = "*"
sympy = "*"
graphviz = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
